{% extends 'basefl.html' %}
{% block content %}

                        <div class="card shadow mb-4">
                          <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Data Absensi {{request.user}}</h6>
                          </div>
                          
                          <div class="card-body">
                              <div class="table-responsive">
                                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th scope="col">Nama</th>
                              <th scope="col">Status</th>
                              <th scope="col">Jam & Tanggal</th>
                            </tr>
                          </thead>  
                          <tbody>
                            {% for absenfl_staff in absensis %}
                            <tr>
                              <td>{{absenfl_staff.username}}</td>
                              <td>{{absenfl_staff.Absensi_status}}</td>
                              <td>{{absenfl_staff.Tanggal_absen}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
    {% endblock content %}
